.headerContainer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.companyName a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.logoImage {
  display: none;
}

.home {
  margin-right: 1rem;
  color: white;
}

.settings {
  margin-right: 1rem;
  color: white;
}

.logOut {
  margin-right: 1rem;
  color: white;
}

.navbarToggle {
  color: white;
}

body.activeModal {
  overflow-y: hidden;
}

.navbar {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 2.95rem;
  right: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  background-color: lightgray;
  padding: 0.5rem;
  width: 8rem;
}

.navbar a {
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
}

.linkInactive {
  color: gray;
}

.linkActive {
  color: black;
  border-bottom: solid 2px black;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.loading {
  display: flex;
  justify-content: center;
  padding-left: 0.8rem;
}

@media (min-width: 700px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 12rem;
    height: 100vh;
    padding: 0;
  }

  .logoImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .companyName {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }

  .companyName a {
    color: unset;
  }

  .companyName:hover {
    border-bottom: solid 2px gray;
  }

  .companyName:hover a {
    width: 100%;
    color: gray;
  }

  .companyNameInactive {
    border-bottom: solid 1px white;
  }

  .companyNameInactive {
    color: white;
  }

  .companyNameActive {
    border-bottom: solid 2px gray;
  }

  .companyNameActive a {
    color: gray;
  }

  .navbar {
    display: flex;
    align-items: center;
    position: static;
    background-color: transparent;
    width: 80%;
  }

  .navbar a:hover {
    color: gray;
    border-bottom: solid 2px gray;
  }

  .linkInactive {
    color: white;
  }

  .linkActive {
    color: gray;
    border-bottom: solid 2px gray;
  }

  .buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
  }

  .navbarToggle {
    display: none;
  }

  .home {
    margin-right: 0;
  }

  .home:hover {
    color: gray;
  }

  .settings {
    margin-right: 0;
  }

  .settings:hover {
    color: gray;
  }

  .logOut {
    margin-right: 0;
  }

  .logOut:hover {
    color: gray;
  }

  .home:hover {
    color: gray;
  }

  .loading {
    padding-left: none;
  }
}
