.menusContainer {
  padding-top: 2.55rem;
}

/* Filter */
.filter {
  width: 100%;
  position: fixed;
  top: 2.45rem;
  padding: 0.2rem;
  background-color: lightgray;
  box-shadow: 0px 2px 10px;
  display: flex;
  justify-content: flex-end;
}

.filter select {
  padding: 0.5rem;
}

@media (min-width: 800px) {
  .menusContainer {
    padding-top: 0;
  }

  .filter {
    position: sticky;
    top: 0;
  }
}
