.settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.95rem;
  padding-bottom: 3.6rem;
}

.settingsContainer h1 {
  padding: 0.5rem;
  font-size: 2rem;
}

.form {
  width: 80%;
  height: 80%;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.form p {
  width: 90%;
  margin-bottom: 0.5rem;
}

.form input {
  width: 90%;
  padding: 0.5rem;
}

.update {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.update button {
  padding: 0.5rem;
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.update button:disabled {
  background-color: gray;
}

@media (min-width: 800px) {
  .settingsContainer {
    margin-left: 12rem;
    padding-top: 0;
  }
}
