.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}

/* Title */
.formContainer h1 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* Form */
.formContainer form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.formContainer form p {
  margin: 0.2rem;
}

.formContainer form input,
.formContainer form textarea,
.formContainer form select {
  width: 100%;
  padding: 0.3rem;
}

/* Message */
.message {
  text-align: center;
  color: red;
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 80%;
}

/* Buttons */
.buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  padding: 0.5rem;
  margin-left: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  border-style: none;
}

.buttons button:disabled {
  background-color: gray;
}
